<%= form_for @file, url: documents_path do |form| %>
  <% if file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(file.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Select Company' %>
    <%= form.select :company_id, Company.all.collect {|p| [ p.name, p.id.to_i ] } %>
  </div>

  <div class="field">
    <%= form.label 'Upload CSV' %>
    <%= form.file_field :file %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
