<p id="notice"><%= notice %></p>

<h1>User Files</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.file %></td>
        <td><%= document.company.name %></td>
        <td><%= link_to 'Detail', document_path(document) %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Upload Comapny File', new_document_path %>
