<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @file.file.path %>
</p>

<p>
  <strong>Error:</strong>
  <% if @file.error.present? %>
    <% @file.error.each do |error| %>
      <%= error %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Back', documents_path %>
